<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>787222640087-t3ucvjfdgfs312h60ik1g6fpm19lpum0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787222640087-t3ucvjfdgfs312h60ik1g6fpm19lpum0</string>
	<key>API_KEY</key>
	<string>AIzaSyAMre3ukmoXTx5TMrWl4e8Z5VUcip6oo8I</string>
	<key>GCM_SENDER_ID</key>
	<string>787222640087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AndrewDYu.ProducTime</string>
	<key>PROJECT_ID</key>
	<string>productime-16f95</string>
	<key>STORAGE_BUCKET</key>
	<string>productime-16f95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:787222640087:ios:decaa3dbfa9292486c4792</string>
	<key>DATABASE_URL</key>
	<string>https://productime-16f95.firebaseio.com</string>
</dict>
</plist>
